body {
    background:rgb(110, 97, 97)
}
nav {
    background: #00B0FF;
    text-align: center;
    padding: 5px;
}
h1 {
    font-size: 25px;
}
#page {
    background: #A5D6A7;
    margin: 5px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQzQNJxQCZr4cERzRblJvsXDEnjN7nWm1xpFM9nqWaYTYDqJ9X);
    background: cover;
    /* background-repeat: no-repeat; */
    /* height: 100%; */
    padding: 20px 10px 40px 10px;
}
.form {
    /* border: blue; */
    border-radius: 4px;
    color:whitesmoke;
    justify-content: center;
    display: flex;
    /* background:lightblue ;    */
    width: 35%;
    background-image: url(https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
}
.form div {
    margin:10px
}
#enter {
    font-size: 1.2em;
    padding: 10px;
}
#cont {
    font-size: 15px;
    color: white;
}
#address {
    color:rgb(226, 58, 43);
    margin-left: 150px;
    margin-top: -20px;
}
